<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<style type="text/css">
		.nav {
			background-color: #1E2D2F !important;
			height: 150px;
		}
		.fullwidth {
			width:50%;
			text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
		}
		.inputDate {
			background-color: white;
		}
	</style>
	<title></title>
</head>
<body>
	<div class="row">
		<div class="navbar-fixed">
			<nav class="nav">
				<div class="row nav-wrapper">
					<div class="row center">
						<a href="#" class="brand-logo"><i class="material-icons left">language</i>Guide</a>
					</div>
					<div class="row"></div>
					<div class="section"></div>
					<div class="section col s12">
						<div class="col offset-s1 s3 center">
							<input type="date" placeholder="From date" class="inputDate"/>
						</div>
						<div class="col offset-s1 s3 center">
							<input type="date" placeholder="To date" class="inputDate"/>
						</div>
						<div class="col s3 center">
							  <button class="btn waves-effect waves-light fullwidth" type="submit" name="action">Search</button>
						</div>
					</div>
				</div>
			</nav>
		</div>		
	</div>
	<div class="container" style="margin-top: 100px;">
		<div class="row">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Know more</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Know more</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Know more</a>
					</div>
				</div>
			</div>						
		</div>
		<div class="row">
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Know more</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Know more</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<img src="img/sample-1.jpg">
						<span class="card-title">Shimla</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a class="modal-trigger" href="#modal1">Know more</a>
					</div>
				</div>
			</div>						
		</div>	
	</div>
	<!-- Modal Structure -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>	
</body>
	<script type="text/javascript">
		// $('.datepicker').pickadate({
		// 	selectMonths: true, // Creates a dropdown to control month
		// 	selectYears: 15 // Creates a dropdown of 15 years to control year
		// });
	</script>
</html>
