<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <b>DISTANCE BETWEEN 2 POINTS</b>

        https://maps.googleapis.com/maps/api/distancematrix/json?origins=Vancouver+BC&destinations=San+Francisco&mode=bicycling
    </div>
    <div>
        <b>WAYPOINTS IN BETWEEN</b>

        https://maps.googleapis.com/maps/api/directions/json?origin=Boston,MA&destination=Concord,MA&waypoints=Charlestown,MA&  key=AIzaSyCOeQRz0ecdc_mMA9WbGab7QF8kE00Ij_w
    </div>
</body>
</html>